@import '../scss/variables.scss';

.InexFooter {

    border-top: 1px solid $color-menu;    
    .inextable  {
        margin: 0 auto;
        td {
            padding: 0;
        }
        td:last-child {
            padding-left: 1rem;
        }
    }
    .ListOfContact {
        margin: 0 auto;
    }
    .row {
        background-color: transparent;
        padding-top: 2rem;
        padding-bottom: 1rem;

    }


}