$color-menu: #3a3c3e;
$color-two: #9a9c9e;

.SideBar {

    .SidebarMenu {
        float: left;
        background-color: #1A1C1E;
        max-width: 480px;
        padding: 1rem ;  
        position: fixed;
        height: 100%;
        display: flex;
        z-index: 99;
    }
    .SidebarActive {
        padding: 3rem 2rem;
        max-width: 480px;
    }
    .SidebarHeader {
        margin-top: 3rem;
        margin-bottom: 3rem;
        color: white;
        h3 {
            margin-bottom: 0;
        }
        span {
            font-size: 0.8rem;
        }
    }
    .NavLink {
        list-style: none;
        padding: 0;
        font-size: 1.2rem;
        a {
            text-decoration: none;
        }
    }

    .NavItem {
        position: relative;
        border-bottom: 1px solid $color-menu;
        padding: 0.5rem 0; 
    }

    .NavItem:focus,
    .NavItem:hover {
        background-color: $color-menu;
    }
    .NavItem span {
    padding-left: 0.5rem;
        color: #9a9c9e;
    }
}