$color-menu: #3a3c3e;
$color-two: #9a9c9e;

.SideBar {

    display: flex;
    justify-content: center;
    align-items: center;

    button {
        margin: 1rem;        
    }

    .SidebarMenu {
        float: left;
        background-color: #1A1C1E;
        display: flex;
        max-width: 480px;
        justify-content: center;
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 99;
    }
    .SidebarMenuActive {
        padding: 3rem 2rem;
        max-width: 480px;
        height: 100%;
        left: 0;
        background-color: hotpink;

    }
    .SidebarHeader {
        margin-top: 3rem;
        margin-bottom: 3rem;
        color: white;
        h3 {
            margin-bottom: 0;
        }
        span {
            font-size: 0.8rem;
        }
    }
    .NavLink {
        list-style: none;
        padding: 0;
        font-size: 1.2rem;
        a {
            text-decoration: none;
        }
    }

    .NavItem {
        position: relative;
        border-bottom: 1px solid $color-menu;
        padding: 0.5rem 0; 
        & :last-child {
            border: none;
        }
    }

    .NavItem:focus,
    .NavItem:hover {
        background-color: $color-menu;
    }
    .NavItem span {
    padding-left: 0.5rem;
        color: #9a9c9e;
    }
}