h2 {
  text-align: center;
  margin: 2rem 0;
  font-weight: 700;
}

.main-header {
  position: relative;
}

.header-title {
  background-color: red;
  color: white;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 600;
  border-radius: 5px;
  position: absolute;
  bottom: 3rem;
  right: 3rem;

}

.main-picture {
  max-width: 100%;
  
}

/* TheNavigation 
-----------------------------------------------
*/

