// variables
$color-menu: #3a3c3e;
$color-two: #9a9c9e;
// $link-color: #3a3c3e;


//css
.container {
  padding: 0;
}
.obsah {
  margin: 0 1rem;
}
body{ 
  background-color: lighten( $color-menu, 60% );
  font-family: 'Merriweather', serif;
  color: $color-menu;
  h2,h3,h4 {
    text-align: center;
    margin-bottom: 1rem;
  }
  h2 {
    color:$color-menu;
    font-weight: 700;
    font-size: 2.5rem;
  }
  h3 {
    font-weight: 600;
  }
  h4 {
    font-weight: 500;
  }
  p, a {
    font-size: 1.1rem;
  }
  a {
    color: inherit;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color: inherit;
      text-shadow: 1px 1px 3px;
    }
  }

}

.app {
  margin: 0;
  padding: 0;
  height: 100%;

}


.HomePicture {
  padding: 0;
  margin-bottom: 3rem;
}
    .main-picture {
      max-width: 100%;
      box-shadow: 2px 2px 5px #3a3c3e;
    }
.HomePage {

  z-index: 1;
  
  p {
    line-height: 1.5rem;
  }
}


// .CompaniesLogo
//  -----------------------------------

.CompaniesLogo {
  margin: 0 1rem;
}

//  InexFooter
//  -----------------------------------

.InexFooter {
  background-color: $color-two;
  
  .inextable  {
    margin: 0 auto;
    td {
      padding: 0;
    }
    td:last-child {
      padding-left: 1rem;
    }
  }
  .row {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }

  // ul {
  //   list-style: none;
  //   padding: 1rem;
  //   li {
  //     margin: 0 auto;

  //   }
  //   svg {
  //     margin-bottom: 0.14rem;
  //   }
  //   a {
  //     margin-left: 0.5rem;
  //   }
  // }
}

//  Contact
//  -----------------------------------

.ContactPage {
  .cd {  
    ul {
      list-style-type: none;
      li {
        margin: 0.8rem 0;
        font-size: 1.1rem;
      }
    }
  }
    h3 {
      text-align: center;
      margin-bottom: 2rem;
    }
}

//  ContactForm
//  -----------------------------------

.ContactForm {
  margin: 1rem 0;
  button {
    margin-top: 1rem;
  }
}

//  gallery
//  -----------------------------------

.react-photo-gallery--gallery {
  img:hover, 
  img:focus {
    transform: scale(1.05);
    transition: all 0.2s ease;
  }
}

//  mobile devices
//  -----------------------------------

@media only screen and (max-width: 576px) {
body {
  .col {
    margin-bottom: 1rem;
  }
  .HomePicture {
    padding: 0.5rem 1rem;
    padding-bottom: 0;
    margin-bottom: 1rem;
  }

  .SideBar {
    h3 {
      color: hotpink;
    }
  }
}
}


